p {
    color: #354866;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    font-weight: 300;
    color: #666666; }
  
  a {
    font-family: "Roboto", sans-serif;
    color: #7C4DFF;
    text-decoration: underline; }
  
  .header-spacer {
    position: relative;
    top: 0;
    height: 60px;
    /* adjust value to height of header navigation */
    display: block; }
  
  .indexBlock {
      position: relative;
      text-align: left;
      margin: auto;
      max-width: 90%;
      padding: 3em;
  }
  .title-block {
      position: absolute;
      right: 20px;
  }
  
  .card {
    display: flex;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
    border: 1px solid rgba(124, 77, 255, 0);
    transition: all .25s ease-in-out;
    width: 100%; }
  
  header.header, footer.footer, header.header__desktop {
    width: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    background: white;
    /* Default white background color for header bar. change this value to customize your header background color. */
    transition: all ease-in-out .5s; }
    header.header .header-wrap, header.header .footer-wrap, footer.footer .header-wrap, footer.footer .footer-wrap, header.header__desktop .header-wrap, header.header__desktop .footer-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      padding: 0;
      transition: all ease-in-out .5s;
      height: 100%; }
      header.header .header-wrap .logo, header.header .footer-wrap .logo, footer.footer .header-wrap .logo, footer.footer .footer-wrap .logo, header.header__desktop .header-wrap .logo, header.header__desktop .footer-wrap .logo {
        padding: 0;
        margin: 0;
        max-width: 30%; }
        header.header .header-wrap .logo__item, header.header .footer-wrap .logo__item, footer.footer .header-wrap .logo__item, footer.footer .footer-wrap .logo__item, header.header__desktop .header-wrap .logo__item, header.header__desktop .footer-wrap .logo__item {
          padding: 0 !important;
          margin: 0; }
      header.header .header-wrap .logo-block, header.header .footer-wrap .logo-block, footer.footer .header-wrap .logo-block, footer.footer .footer-wrap .logo-block, header.header__desktop .header-wrap .logo-block, header.header__desktop .footer-wrap .logo-block {
        padding-left: 1.5rem;
        /* change to relative padding needed for logo alignment */ }
        header.header .header-wrap .logo-block img, header.header .footer-wrap .logo-block img, footer.footer .header-wrap .logo-block img, footer.footer .footer-wrap .logo-block img, header.header__desktop .header-wrap .logo-block img, header.header__desktop .footer-wrap .logo-block img {
          max-height: 60px;
          height: 100%;
          max-width: 100%;
          width: 100%; }
    header.header__mobile, footer.footer__mobile, header.header__desktop__mobile {
      width: 100%;
      max-width: 500px; }
      header.header__mobile .header-wrap, footer.footer__mobile .header-wrap, header.header__desktop__mobile .header-wrap {
        padding: 0; }
        header.header__mobile .header-wrap > nav.nav, footer.footer__mobile .header-wrap > nav.nav, header.header__desktop__mobile .header-wrap > nav.nav {
          /* End mobile primary menu */
          /* End mobile toolbar menu */ }
          header.header__mobile .header-wrap > nav.nav__primary, footer.footer__mobile .header-wrap > nav.nav__primary, header.header__desktop__mobile .header-wrap > nav.nav__primary {
            margin-left: 0; }
            header.header__mobile .header-wrap > nav.nav__primary > ul > li, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li {
              line-height: 1;
              padding: 0; }
              header.header__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar {
                padding: 0; }
                header.header__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar > a, header.header__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar > button, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar > a, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar > button, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar > a, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar > button {
                  cursor: pointer; }
                  header.header__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar > a > span.icon img, header.header__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar > button > span.icon img, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar > a > span.icon img, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar > button > span.icon img, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar > a > span.icon img, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li.user-avatar > button > span.icon img {
                    max-height: 40px; }
              header.header__mobile .header-wrap > nav.nav__primary > ul > li.has-children, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li.has-children, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li.has-children {
                padding-left: 0.75em;
                padding-right: 0.75em; }
                header.header__mobile .header-wrap > nav.nav__primary > ul > li.has-children > .sub-nav-dropdown > span, header.header__mobile .header-wrap > nav.nav__primary > ul > li.has-children .sub-nav-dropdown > span, header.header__mobile .header-wrap > nav.nav__primary > ul > li.has-children > ul > span, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li.has-children > .sub-nav-dropdown > span, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li.has-children .sub-nav-dropdown > span, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li.has-children > ul > span, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li.has-children > .sub-nav-dropdown > span, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li.has-children .sub-nav-dropdown > span, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li.has-children > ul > span {
                  color: #5361FD;
                  font-size: 1.1rem; }
                  header.header__mobile .header-wrap > nav.nav__primary > ul > li.has-children > .sub-nav-dropdown > span.label, header.header__mobile .header-wrap > nav.nav__primary > ul > li.has-children .sub-nav-dropdown > span.label, header.header__mobile .header-wrap > nav.nav__primary > ul > li.has-children > ul > span.label, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li.has-children > .sub-nav-dropdown > span.label, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li.has-children .sub-nav-dropdown > span.label, footer.footer__mobile .header-wrap > nav.nav__primary > ul > li.has-children > ul > span.label, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li.has-children > .sub-nav-dropdown > span.label, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li.has-children .sub-nav-dropdown > span.label, header.header__desktop__mobile .header-wrap > nav.nav__primary > ul > li.has-children > ul > span.label {
                    font-size: 1.2rem;
                    margin-right: .5em; }
          header.header__mobile .header-wrap > nav.nav__toolbar > ul, footer.footer__mobile .header-wrap > nav.nav__toolbar > ul, header.header__desktop__mobile .header-wrap > nav.nav__toolbar > ul {
            height: 60px; }
            header.header__mobile .header-wrap > nav.nav__toolbar > ul > li, footer.footer__mobile .header-wrap > nav.nav__toolbar > ul > li, header.header__desktop__mobile .header-wrap > nav.nav__toolbar > ul > li {
              border: none;
              padding: 0; }
              header.header__mobile .header-wrap > nav.nav__toolbar > ul > li > a, header.header__mobile .header-wrap > nav.nav__toolbar > ul > li > button, footer.footer__mobile .header-wrap > nav.nav__toolbar > ul > li > a, footer.footer__mobile .header-wrap > nav.nav__toolbar > ul > li > button, header.header__desktop__mobile .header-wrap > nav.nav__toolbar > ul > li > a, header.header__desktop__mobile .header-wrap > nav.nav__toolbar > ul > li > button {
                padding-left: 0.75em;
                padding-right: 0.75em;
                cursor: pointer; }
              header.header__mobile .header-wrap > nav.nav__toolbar > ul > li.has-children .sub-nav-dropdown > span.label, header.header__mobile .header-wrap > nav.nav__toolbar > ul > li.has-children > .sub-nav-dropdown > span.label, header.header__mobile .header-wrap > nav.nav__toolbar > ul > li.has-children > ul > span.label, header.header__mobile .header-wrap > nav.nav__toolbar > ul > li .sub-nav-dropdown .sub-nav-dropdown > span.label, header.header__mobile .header-wrap > nav.nav__toolbar > ul > li .sub-nav-dropdown > .sub-nav-dropdown > span.label, header.header__mobile .header-wrap > nav.nav__toolbar > ul > li .sub-nav-dropdown > ul > span.label, footer.footer__mobile .header-wrap > nav.nav__toolbar > ul > li.has-children .sub-nav-dropdown > span.label, footer.footer__mobile .header-wrap > nav.nav__toolbar > ul > li.has-children > .sub-nav-dropdown > span.label, footer.footer__mobile .header-wrap > nav.nav__toolbar > ul > li.has-children > ul > span.label, footer.footer__mobile .header-wrap > nav.nav__toolbar > ul > li .sub-nav-dropdown .sub-nav-dropdown > span.label, footer.footer__mobile .header-wrap > nav.nav__toolbar > ul > li .sub-nav-dropdown > .sub-nav-dropdown > span.label, footer.footer__mobile .header-wrap > nav.nav__toolbar > ul > li .sub-nav-dropdown > ul > span.label, header.header__desktop__mobile .header-wrap > nav.nav__toolbar > ul > li.has-children .sub-nav-dropdown > span.label, header.header__desktop__mobile .header-wrap > nav.nav__toolbar > ul > li.has-children > .sub-nav-dropdown > span.label, header.header__desktop__mobile .header-wrap > nav.nav__toolbar > ul > li.has-children > ul > span.label, header.header__desktop__mobile .header-wrap > nav.nav__toolbar > ul > li .sub-nav-dropdown .sub-nav-dropdown > span.label, header.header__desktop__mobile .header-wrap > nav.nav__toolbar > ul > li .sub-nav-dropdown > .sub-nav-dropdown > span.label, header.header__desktop__mobile .header-wrap > nav.nav__toolbar > ul > li .sub-nav-dropdown > ul > span.label {
                font-size: 1.3rem; }
  
  header.header.fixed, header.header--fixed {
    /* should be used with a <div class="header-spacer"> element */
    position: fixed;
    z-index: 5000;
    /* Adjust to meet z-index needs */
    top: 0;
    left: 0;
    width: 100vw; }
  
  header.header__desktop .header-wrap {
    /* tablet media query */
    /* Mobile media query */
    /* Desktop Media Query for Navigation Bar */
    /* Desktop Media Query */ }
    @media (max-width: 1023px) {
      header.header__desktop .header-wrap nav.nav__primary,
      header.header__desktop .header-wrap nav.nav__toolbar {
        display: none; }
      header.header__desktop .header-wrap .mobile-navigation__toggle {
        display: flex; } }
    @media (max-width: 767px) {
      header.header__desktop .header-wrap nav.nav__primary,
      header.header__desktop .header-wrap nav.nav__toolbar {
        display: none; }
      header.header__desktop .header-wrap .mobile-navigation__toggle {
        display: flex; } }
    @media (min-width: 1024px) {
      header.header__desktop .header-wrap nav.nav__primary,
      header.header__desktop .header-wrap nav.nav__toolbar {
        display: flex; }
      header.header__desktop .header-wrap .mobile-navigation__toggle {
        display: none; } }
  
  html {
    box-sizing: border-box; }
  
  html, body {
      height: 100%;
      width: 100%;
      background-image: url("pattern.png");
      background-repeat: repeat;
  }
  img {
      max-width: 100%;
  }
  p {
      font-family: sans-serif;
      line-height: 1.5;
  }
  a {
      color: #4BC6EF;
      font-weight:bold;
  }
  .card {
      padding: 1rem 2.5rem;
      text-align: left;
      align-items: flex-start;
      width: auto;
      margin-bottom: 3em;
      background: #fff;
  }
  .card h3, .card h2, .card h4 {
      text-align: left;
      line-height: 1;
      margin-bottom: 0;
  }
  .divider {
      display: block;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      margin: 2em 0;
  }
  .controls {
    text-align: right;
  }